button{
    background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 13px;
  margin-bottom:13px;
}
button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

button:active {
  opacity: .5;
}
label[for="rowCount"]{
    color:white;
    font-family: sans-serif;
    margin-left: 50px;
    font-size: larger;
}
#calculateBtn{
margin-left:50px;
}
input{
 
    font-size: larger;
  
}
#rowCount{
    border-radius: 10px;
    box-shadow: inset;
    width:min-content;
   
}
.containeri{
    color:white;
    background-color: #2A2A2C;
}
@media only screen and (max-width: 400px){
    #rowCount{
        margin-left: 85px;
    }
    #generateBtn{
    margin-left:118px;
   }
   #calculateBtn {
    margin-left: 118px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 1px;
    text-align: center;
  }
}